@model RoleViewModel


<div class="form-group mb-3">
    <label asp-for="RoleName" class="form-control-label">Role Name </label>
    <input asp-for="RoleName" class="form-control mb-3" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>
